@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-color: #fafae4;
}

header {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    color: black;
}

header p {
    display: inline-block;
    margin-top: 7px;
    margin-left: 7px;
}

#Portfolio {
    background-image: url("img/portada.jpg");
    background-size: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 5%;
    bottom: 555px;
    width: auto;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 90px;
    text-align: center;
    margin-top: 25px;
    color: #ffffff;
}